language: python
sudo: false
cache:
  pip: true
python:
- '3.6'
- '3.7'
before_install:
- pip install poetry
- pip install coveralls
- pip install codacy-coverage
install:
- poetry install
script:
- coverage run --source=dcicwrangling -m pytest -vv tests
deploy:
  provider: script
  script: poetry publish --build --username=$PYPI_USER --password=$PYPI_PASSWORD
  on:
    tags: true
    condition: "$TRAVIS_PYTHON_VERSION == 3.6"
after_success:
- coveralls
